<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let login of database.logins">
    <img alt="fire-ranger tower in a forest" src="https://wallpapers.com/images/featured-full/minimalist-7xpryajznty61ra3.jpg" />
    <ion-card-header>
      <ion-card-title>John Smith</ion-card-title>
      <ion-card-title>{{login.email}}</ion-card-title>
      <ion-card-subtitle>example@email.com</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Login Time: {{login.loginDate | dateAgo}}</p>
    </ion-card-content>
    <ion-button class="ion-margin">
      Send Message
    </ion-button>
  </ion-card>

</ion-content>
