<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img alt="fire-ranger tower in a forest" src="https://wallpapers.com/images/featured-full/minimalist-7xpryajznty61ra3.jpg" />
    <ion-card-header>
      <ion-card-title>John Smith</ion-card-title>
      <ion-card-subtitle>example@email.com</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Last logged in on 12/12/2022 at 12:12pm
    </ion-card-content>
    <ion-button class="ion-margin">
      Send Message
    </ion-button>
  </ion-card>

</ion-content>
